{% extends 'base.html' %}

{% block content %}

<h2>Upload PDF</h2>

<div class="card p-4 mb-4">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Upload</button>
    </form>
</div>

<h3>Your PDFs</h3>

{% for doc in documents %}
    <div class="card mb-3 p-3">
        <p>{{ doc.title }}</p>
        <a href="{{ doc.file.url }}" target="_blank" class="btn btn-sm btn-success">Open</a>
    </div>
{% empty %}
    <p>No PDFs uploaded yet.</p>
{% endfor %}

{% endblock %}